<?xml version= "1.0" encoding="UTF-8" ?>
<menu>
    <entree>
        <titre type="15.00">Dorade Grise Des Côtes Bretonnes</titre></br>
        <ingredients>
            En fines tranches légèrement marinées 
            avocat Hass de Sicile façon condiment
            vinaigrette aux pommes fruits et dentelle de sarrasin.
        </ingredients>
        
    </entree>
    <entree>
        <titre type="15.00">Aumônière de saumon</titre>
        <ingredients>
            pomme de terre
            saumon
            miel
            champignon de paris 
        </ingredients>
     
    </entree>
    <plat>
        <titre type="15.00">ANDOUILLETTE</titre>
        <accompagnement>
                sauce moutarde à l'ancienne(frites maison)
        </accompagnement>
       
    </plat>
    <plat>
        <titre type="15.00">FOIE DE VEAU PERSILLADE</titre>
        <accompagnement>
            sauce balsamique 
            échalotes confites
            purée de pommes de terre au beurre
        </accompagnement>
     
         <supplement>
            frites
            riz
            pommes de terre 
        </supplement>
    </plat>
    <plat>
        <titre type="19.50">TARTARE DE BŒUF NORMAND</titre>
        <accompagnement>frites maison</accompagnement>
        
    </plat>
    <dessert>
        <titre type="11.50">PAVLOVA AUX FRUITS EXOTIQUES</titre>
        <ingredients>
            mangue
            fruit de la passion
            sorbet mangue
        </ingredients>
        
       
    </dessert>
    <dessert>
        <titre type="9.50">SALADE D'AGRUMES</titre>
        <ingredients>
            pamplemousse
            orange
            kumquat confit
            sorbet yuzu
        </ingredients>
        
    </dessert>
</menu>

